@import '../../common//styles/common.scss';

// 定义样式的命名空间
.indexComponents {
  margin-bottom: Rem(120);
  .title {
    padding-top: Rem(30);
    font-size: Rem(42);
    color: orange;
  }

  .comlist {
    font-size: Rem(36);
    padding: Rem(30);
    margin: Rem(30);
    border: 1px solid #ccc;

    &:active {
      background: #ccc;
    }
  }
}
