.testcomponents{
    position: relative;
    height: 500px;
    .datepicker{
        margin-top: Rem(100);
        width: 100%;
        height: 50%;
        position: absolute;
        bottom:0;
    }
}